:host {
  @apply bg-foreground dark:bg-base border-t text-default flex w-full bottom-0 relative;
  height: var(--vex-footer-height);
  z-index: var(--vex-footer-z-index);
}

// footer.component.scss
.demo-section {
  font-size: 24px;
  width: 80px;
  height: 80px;
}

