<button matTooltip="Menu"
  (click)="openBothConfigs()"
  class="config-panel-toggle"
  color="primary"
  mat-fab
  type="button">
  <mat-icon svgIcon="mat:swipe_vertical" class="custom-icon-menu"></mat-icon>
</button>

<button matTooltip="GPT-Help, which stands for Generative Pre-trained Transformer 4, is a multimodal large language model developed by OpenAI. It's the fourth iteration in their series of foundational models and has generated significant buzz in the AI community."
  (click)="openBothConfigsGpt4()"
  class="config-panel-toggle2"
  color="primary"
  mat-fab
  type="button">
  <i class="fa fa-brain" style="font-size: 24px;"></i>
</button>

<button matTooltip="The Zettelkasten Method (Linking notes, One idea per note), literally translated from German as slip box method, is a note-taking system designed for knowledge management and creative thinking. Developed by sociologist Niklas Luhmann, it emphasizes capturing ideas on individual notes and then linking them together to form a web of knowledge."
  (click)="openBothConfigsBooks()"
  class="config-panel-toggle3"
  color="primary"
  mat-fab
  type="button">
  <i class="fa fa-feather-alt" style="font-size: 24px;"></i>
</button>

<button matTooltip="The Wim Hof Method is a powerful approach that aims to keep your body and mind in their optimal natural state. Developed by Dutch extreme athlete Wim Hof (also known as “The Iceman”), this method combines controlled breathing and cold exposure to stimulate various physiological processes."
  (click)="openBothConfigsWimHof()"
  class="config-panel-toggle4"
  color="primary"
  mat-fab
  type="button">
  <mat-icon svgIcon="mat:self_improvement" class="custom-icon"></mat-icon>
</button>

