<mat-dialog-content>
  <mat-toolbar>
    <span>Priming (Listen, Read, Speak)</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <!-- Novo botão para tocar o áudio do texto utilizando WaveSurfer -->
  <button mat-icon-button color="warn" type="button" (click)="playSound()">
    <mat-icon svgIcon="mat:play_arrow"></mat-icon>
  </button>
  <div @fadeInUp class="card overflow-hidden">

    <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
      <ng-template matStepperIcon="edit">
        <mat-icon svgIcon="mat:done_all"></mat-icon>
      </ng-template>

      <ng-template matStepperIcon="done">
        <mat-icon svgIcon="mat:done_all"></mat-icon>
      </ng-template>

      <mat-step>
          <ng-template matStepLabel>Listen</ng-template>
          <mat-card class="example-card" [innerHTML]="displayedHtml" class="highlighted-text">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title [innerHTML]="displayedHtml" class="highlighted-text">
                  <!-- Usando interpolação de strings para exibir o texto com palavras destacadas -->
                  <span [innerHTML]="displayedHtml" class="highlighted-text"></span>
                </mat-card-title>
               <!--  <img mat-card-xl-image src="/assets/img/logo/priming.png" alt="Priming Logo"> -->
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
      </mat-step>

      <mat-step >
        <ng-template matStepLabel>Read</ng-template>
          <mat-card class="example-card" [innerHTML]="displayedHtml" class="highlighted-text">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title [innerHTML]="displayedHtml" class="highlighted-text">
                  <!-- Usando interpolação de strings para exibir o texto com palavras destacadas -->
                  <span [innerHTML]="displayedHtml" class="highlighted-text"></span>
                </mat-card-title>
               <!--  <img mat-card-xl-image src="/assets/img/logo/priming.png" alt="Priming Logo"> -->
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Speak</ng-template>
          <mat-card class="example-card">

            <mat-dialog-actions>
              <mat-dialog-actions>
                <button mat-icon-button [color]="isRecording ? 'warn' : 'red'" type="button" matTooltip="Start Recording" (click)="startRecording()">
                  <mat-icon svgIcon="mat:mic"></mat-icon>
                </button>

                <button mat-icon-button [color]="isRecording ? 'red' : 'warn'" type="button" matTooltip="Stop Recording" (click)="stopRecording()">
                  <mat-icon svgIcon="mat:mic_off"></mat-icon>
                </button>

                <button mat-icon-button matTooltip="Close" format_align_left type="button" (click)="closeDialog()">
                  <mat-icon svgIcon="mat:close"></mat-icon>
                </button>
              </mat-dialog-actions>
            </mat-dialog-actions>

          </mat-card>
      </mat-step>



    </mat-horizontal-stepper>
  </div>
<!--   <button mat-icon-button type="button" (click)="transcribeCurrentAudio()">
    <mat-icon svgIcon="mat:transcribe"></mat-icon>
  </button> -->



</mat-dialog-content>




<!-- Div para o WaveSurfer -->
<div #waveform style="cursor: pointer;"></div>
