<div class="buttons-container">
  <div class="section-title">Vowels</div>
  <!-- Vogais -->
  <div class="phonetic-panel"><div class="phonetic">ɑ</div></div>
  <div class="phonetic-panel"><div class="phonetic">æ</div></div>
  <div class="phonetic-panel"><div class="phonetic">ʌ</div></div>
  <div class="phonetic-panel"><div class="phonetic">ɛ</div></div>
  <div class="phonetic-panel"><div class="phonetic">eɪ</div></div>
  <div class="phonetic-panel"><div class="phonetic">ɚ</div></div>
  <div class="phonetic-panel"><div class="phonetic">ɪ</div></div>
  <div class="phonetic-panel"><div class="phonetic">i</div></div>
  <div class="phonetic-panel"><div class="phonetic">ə</div></div>
  <div class="phonetic-panel"><div class="phonetic">oʊ</div></div>
  <div class="phonetic-panel"><div class="phonetic">ʊ</div></div>
  <div class="phonetic-panel"><div class="phonetic">u</div></div>
  <div class="phonetic-panel"><div class="phonetic">aʊ</div></div>
  <div class="phonetic-panel"><div class="phonetic">aɪ</div></div>
  <div class="phonetic-panel"><div class="phonetic">ɔɪ</div></div>

  <div class="section-title">Consonants</div>
  <!-- Consoantes -->
  <div class="phonetic-panel"><div class="phonetic">b</div></div>
  <div class="phonetic-panel"><div class="phonetic">ʧ</div></div>
  <div class="phonetic-panel"><div class="phonetic">d</div></div>
  <div class="phonetic-panel"><div class="phonetic">f</div></div>
  <div class="phonetic-panel"><div class="phonetic">g</div></div>
  <div class="phonetic-panel"><div class="phonetic">h</div></div>
  <div class="phonetic-panel"><div class="phonetic">ʤ</div></div>
  <div class="phonetic-panel"><div class="phonetic">k</div></div>
  <div class="phonetic-panel"><div class="phonetic">l</div></div>
  <div class="phonetic-panel"><div class="phonetic">m</div></div>
  <div class="phonetic-panel"><div class="phonetic">n</div></div>
  <div class="phonetic-panel"><div class="phonetic">ŋ</div></div>
  <div class="phonetic-panel"><div class="phonetic">p</div></div>
  <div class="phonetic-panel"><div class="phonetic">ɹ</div></div>
  <div class="phonetic-panel"><div class="phonetic">s</div></div>
  <div class="phonetic-panel"><div class="phonetic">ʒ</div></div>
  <div class="phonetic-panel"><div class="phonetic">ʃ</div></div>
  <div class="phonetic-panel"><div class="phonetic">t</div></div>
  <div class="phonetic-panel"><div class="phonetic">ð</div></div>
  <div class="phonetic-panel"><div class="phonetic">θ</div></div>
  <div class="phonetic-panel"><div class="phonetic">v</div></div>
  <div class="phonetic-panel"><div class="phonetic">w</div></div>
  <div class="phonetic-panel"><div class="phonetic">j</div></div>
  <div class="phonetic-panel"><div class="phonetic">z</div></div>
</div>


<div class="buttons-container">
  <div class="section-title">Vowels</div>
  <!-- Vogais -->
  <div class="phonetic-panel">
    <div class="phonetic">ɑ</div>
    <div class="word">arm</div>
    <div class="word">father</div>
    <div class="word">car</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">æ</div>
    <div class="word">apple</div>
    <div class="word">ant</div>
    <div class="word">sand</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ʌ</div>
    <div class="word">cup</div>
    <div class="word">luck</div>
    <div class="word">sun</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ɛ</div>
    <div class="word">end</div>
    <div class="word">pen</div>
    <div class="word">red</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">eɪ</div>
    <div class="word">cake</div>
    <div class="word">lake</div>
    <div class="word">date</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ɚ</div>
    <div class="word">curl</div>
    <div class="word">fern</div>
    <div class="word">stir</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ɪ</div>
    <div class="word">it</div>
    <div class="word">sit</div>
    <div class="word">lip</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">i</div>
    <div class="word">eat</div>
    <div class="word">seed</div>
    <div class="word">beat</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ə</div>
    <div class="word">sofa</div>
    <div class="word">alone</div>
    <div class="word">coma</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">oʊ</div>
    <div class="word">oat</div>
    <div class="word">road</div>
    <div class="word">show</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ʊ</div>
    <div class="word">look</div>
    <div class="word">book</div>
    <div class="word">foot</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">u</div>
    <div class="word">boot</div>
    <div class="word">mood</div>
    <div class="word">food</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">aʊ</div>
    <div class="word">cow</div>
    <div class="word">how</div>
    <div class="word">out</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">aɪ</div>
    <div class="word">fly</div>
    <div class="word">my</div>
    <div class="word">cry</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ɔɪ</div>
    <div class="word">boy</div>
    <div class="word">toy</div>
    <div class="word">coin</div>
  </div>

  <div class="section-title">Consonants</div>
  <!-- Consoantes -->
  <div class="phonetic-panel">
    <div class="phonetic">b</div>
    <div class="word">book</div>
    <div class="word">bat</div>
    <div class="word">blob</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ʧ</div>
    <div class="word">chair</div>
    <div class="word">chance</div>
    <div class="word">church</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">d</div>
    <div class="word">dog</div>
    <div class="word">dread</div>
    <div class="word">land</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">f</div>
    <div class="word">fan</div>
    <div class="word">leaf</div>
    <div class="word">off</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">g</div>
    <div class="word">game</div>
    <div class="word">gag</div>
    <div class="word">big</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">h</div>
    <div class="word">hat</div>
    <div class="word">heal</div>
    <div class="word">high</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ʤ</div>
    <div class="word">job</div>
    <div class="word">edge</div>
    <div class="word">judge</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">k</div>
    <div class="word">key</div>
    <div class="word">cake</div>
    <div class="word">back</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">l</div>
    <div class="word">lion</div>
    <div class="word">lull</div>
    <div class="word">fall</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">m</div>
    <div class="word">moon</div>
    <div class="word">mum</div>
    <div class="word">amaze</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">n</div>
    <div class="word">nose</div>
    <div class="word">noon</div>
    <div class="word">banana</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ŋ</div>
    <div class="word">sing</div>
    <div class="word">ringing</div>
    <div class="word">long</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">p</div>
    <div class="word">pig</div>
    <div class="word">top</div>
    <div class="word">happy</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ɹ</div>
    <div class="word">red</div>
    <div class="word">rare</div>
    <div class="word">roar</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">s</div>
    <div class="word">see</div>
    <div class="word">sassy</div>
    <div class="word">miss</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ʒ</div>
    <div class="word">measure</div>
    <div class="word">beige</div>
    <div class="word">leisure</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ʃ</div>
    <div class="word">shoe</div>
    <div class="word">fish</div>
    <div class="word">mission</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">t</div>
    <div class="word">time</div>
    <div class="word">tight</div>
    <div class="word">bat</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">ð</div>
    <div class="word">then</div>
    <div class="word">this</div>
    <div class="word">brother</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">θ</div>
    <div class="word">think</div>
    <div class="word">bath</div>
    <div class="word">moth</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">v</div>
    <div class="word">very</div>
    <div class="word">vivid</div>
    <div class="word">over</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">w</div>
    <div class="word">water</div>
    <div class="word">why</div>
    <div class="word">window</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">j</div>
    <div class="word">you</div>
    <div class="word">yes</div>
    <div class="word">yarn</div>
  </div>
  <div class="phonetic-panel">
    <div class="phonetic">z</div>
    <div class="word">zoo</div>
    <div class="word">lazy</div>
    <div class="word">buzz</div>
  </div>
</div>
