/* Estilos Globais para Mensagens e Outros Componentes */
.user-message, .assistant-message {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #000; /* Cor do texto para todas as mensagens */
}

.user-message {
  background-color: #e0f2f1; /* Cor de fundo para mensagens do usuário */
}

.assistant-message {
  background-color: #fce4ec; /* Cor de fundo para mensagens do assistente */
}

.conversation-history {
  max-height: 300px;
  overflow-y: auto; /* Barra de rolagem vertical quando necessário */
}

/* Ajustes para mat-form-field e outros elementos */
mat-form-field {
  margin-right: 12px;
}

.hand-cursor {
  cursor: pointer;
}

/* Ajustes para o layout do vex e outros componentes específicos */
:host {
  display: block;
}

/* Foco na expansão do layout e componentes para ocupar todo o espaço */
.vex-page-layout-content, .container, .card, .mat-slider {
  width: 100%; /* Garante que ocupem todo o espaço disponível */
  margin: 0;
  padding: 0;
}

/* Refatoração para Text Display e Quick Line Chart */
#textDisplay, vex-widget-quick-line-chart {
  overflow-wrap: break-word; /* Para quebra automática de texto */
  white-space: pre-wrap; /* Mantém o espaçamento e quebras de linha */
  font-size: 2em; /* Ajusta o tamanho da fonte se necessário */
  line-height: 1.5; /* Melhora o espaçamento entre linhas */
}

/* Animação e Destaque */
@keyframes wordAppear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.highlight {
  background-color: yellow; /* Estilo de destaque */
}


